@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

a {
	text-decoration: underline !important;
}

input {
	@apply input;
}

button,
input[type='submit'] {
	@apply btn;
}
